*,
*::before,
*::after{
  margin: 0;
  padding:0;
  box-sizing: border-box;
}
button{
  background: none;
  border: none;
  cursor: pointer;
  border-radius: 7px;
  font-size: 1.2rem;
}

li{
  list-style: none;
}


html,
body{
  background-color: #CED8E4;
  height: 100%;
}

body{
  padding:15px 20px;
  .header-title{
    text-align: center; 
    font-size:70px; 
    font-weight: bold;
  }
  main{
    margin-top:100px; 
    display: flex;
  }

  .reservation-container{
    flex:1; 
    max-height: 27.5rem; 
    overflow-y: auto;
    margin-right: 25px;
  }

  .reservation-wrap{
    display: flex; 
    align-items: center; 
    background-color: #fff; 
    padding:30px 35px; 
    margin-bottom: 15px;
    border-radius:15px;
    .left-item{
      width:15%;
      .status{
        margin-top:15px;
      }
    }
    .center-item{
      width:65%;
      .name{
        margin-bottom: 10px;
      }
      .type{
        margin-bottom: 10px;
      }
    }
    .reserve-btn{
      width: 20%; 
      height: 3rem;
      background-color: #162149; 
      color:#fff
    }
  }

  .reservation-detail-container{
    width: 350px; 
    background-color: #fff; 
    height: 100%;
    border-radius: 15px;
    padding: 15px 35px;
    .detail-wrap{
      margin-bottom:25px;
    }
    .customer-wrap{
      margin-bottom:25px;
    }
    .request-wrap{
      margin-top:55px;
    }
    .title{
      text-align: center;
      font-size: 25px;
      font-weight: 600;
      margin-bottom: 20px;
    }
    .info-line{
      display: flex;
      margin-bottom: 15px;
      .left-item{
        width: 40%;
      }
      .right-item{
        font-weight: 600;
      }
    }
  }
}