*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

button {
  background: none;
  border: none;
  cursor: pointer;
  border-radius: 7px;
  font-size: 1.2rem;
}

div[text-color=reserved] {
  color: #3BB94C;
}

div[text-color=seated] {
  color: #162149;
}

li {
  list-style: none;
}

html,
body {
  background-color: #CED8E4;
  height: 100%;
}

@media (min-width: 1024px) {
  body {
    padding: 15px 20px;
  }
  body .dim {
    display: none;
    pointer-events: none;
  }
  body .main-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
  }
  body .header-title {
    text-align: center;
    font-size: 70px;
    font-weight: bold;
  }
  body main {
    margin-top: 100px;
    flex: 1;
    display: flex;
    overflow: hidden;
  }
  body .reservation-container {
    flex: 1;
    height: 100%;
    overflow-y: auto;
    margin-right: 25px;
  }
  body .reservation-container::-webkit-scrollbar {
    width: 5px;
  }
  body .reservation-container::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, 0.3);
    border-radius: 10px;
  }
  body .reservation-container::-webkit-scrollbar-track {
    background: rgba(33, 122, 244, 0.1);
  }
  body .reservation-wrap {
    display: flex;
    align-items: center;
    background-color: #fff;
    padding: 30px 35px;
    margin-bottom: 15px;
    border-radius: 15px;
  }
  body .reservation-wrap .left-item {
    width: 15%;
    font-size: 20px;
  }
  body .reservation-wrap .left-item .status {
    margin-top: 15px;
  }
  body .reservation-wrap .center-item {
    width: 65%;
    padding-right: 10px;
    font-size: 17px;
  }
  body .reservation-wrap .center-item .name {
    margin-bottom: 10px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  body .reservation-wrap .center-item .menu {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  body .reservation-wrap .center-item .type {
    margin-bottom: 10px;
  }
  body .reservation-wrap .reserve-btn {
    width: 20%;
    height: 3rem;
    background-color: #162149;
    color: #fff;
  }
  body .reservation-detail-container {
    display: none;
    width: 450px;
    background-color: #fff;
    height: 100%;
    border-radius: 15px;
    padding: 15px 35px;
  }
  body .reservation-detail-container .detail-wrap {
    margin-bottom: 25px;
  }
  body .reservation-detail-container .customer-wrap {
    margin-bottom: 25px;
  }
  body .reservation-detail-container .request-wrap {
    margin-top: 55px;
  }
  body .reservation-detail-container .title {
    text-align: center;
    font-size: 25px;
    font-weight: 600;
    margin-top: 20px;
    margin-bottom: 30px;
  }
  body .reservation-detail-container .info-line {
    display: flex;
    margin-bottom: 15px;
  }
  body .reservation-detail-container .info-line .left-item {
    width: 33%;
  }
  body .reservation-detail-container .info-line .right-item {
    flex: 1;
    font-weight: 600;
    word-break: break-all;
    overflow: hidden;
    display: -webkit-inline-box;
    -webkit-box-orient: vertical;
  }
  body .reservation-detail-container .info-line .requset {
    -webkit-line-clamp: 3;
  }
  body .reservation-detail-container .info-line .memo {
    -webkit-line-clamp: 3;
  }
  body .reservation-detail-container .info-line .name {
    -webkit-line-clamp: 1;
  }
}
@media (min-width: 320px) and (max-width: 1024px) {
  body {
    padding: 15px 8px;
  }
  body .dim {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0px;
    left: 0px;
    background-color: rgba(0, 0, 0, 0.3);
    -webkit-backdrop-filter: blur(8px);
            backdrop-filter: blur(8px);
    z-index: 9;
  }
  body .main-container {
    display: block;
  }
  body .header-title {
    text-align: center;
    font-size: 45px;
    font-weight: 600;
    margin: 40px 0 50px 0;
  }
  body .reservation-wrap {
    display: flex;
    align-items: center;
    background-color: #fff;
    margin-bottom: 15px;
    border-radius: 15px;
    padding: 20px 8px;
    position: relative;
  }
  body .reservation-wrap .left-item {
    width: 20%;
    font-size: 17px;
  }
  body .reservation-wrap .left-item .status {
    margin-top: 15px;
  }
  body .reservation-wrap .center-item {
    width: 60%;
    padding-right: 10px;
    font-size: 14px;
  }
  body .reservation-wrap .center-item .name {
    margin-bottom: 10px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  body .reservation-wrap .center-item .menu {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  body .reservation-wrap .center-item .type {
    margin-bottom: 10px;
  }
  body .reservation-wrap .reserve-btn {
    width: 20%;
    border-radius: 3px;
    padding: 10px 0px;
    background-color: #162149;
    font-size: 17px;
    color: #fff;
  }
  body .reservation-detail-container {
    display: none;
    width: 450px;
    background-color: #fff;
    height: 100%;
    border-radius: 15px;
    padding: 15px 35px;
  }
  body .reservation-detail-container .detail-wrap {
    margin-bottom: 25px;
  }
  body .reservation-detail-container .customer-wrap {
    margin-bottom: 25px;
  }
  body .reservation-detail-container .request-wrap {
    margin-top: 55px;
  }
  body .reservation-detail-container .title {
    text-align: center;
    font-size: 25px;
    font-weight: 600;
    margin-top: 20px;
    margin-bottom: 30px;
  }
  body .reservation-detail-container .info-line {
    display: flex;
    margin-bottom: 15px;
  }
  body .reservation-detail-container .info-line .left-item {
    width: 33%;
  }
  body .reservation-detail-container .info-line .right-item {
    flex: 1;
    font-weight: 600;
    word-break: break-all;
    overflow: hidden;
    display: -webkit-inline-box;
    -webkit-box-orient: vertical;
  }
  body .reservation-detail-container .info-line .requset {
    -webkit-line-clamp: 3;
  }
  body .reservation-detail-container .info-line .memo {
    -webkit-line-clamp: 3;
  }
  body .reservation-detail-container .info-line .name {
    -webkit-line-clamp: 1;
  }
}/*# sourceMappingURL=styles.css.map */